.clustering_off {
text-align:right;
 font-size:x-small;
}

.clustering_label {
font-size:x-small;
padding: 0em 1em 0em 0em;
}


.snippet{
	width: 90%;
	font-size: x-small;
	margin: 0.25em 0em 0.25em 0em;
	line-height: 1.35em;
}

.bib{
	width: 90%;
	font-size: x-small;
	margin: 0.25em 0em 0.7em 0em;
	line-height: 1em;
	color: green;
}

DIV.meta{
	color: silver;
	font-size: x-small;
}


DIV.pagenavi{
	background-color:#f1f4ff;
	padding: 1em 0em;
	text-align: center;
	font-size: x-small
}

#questionnaire {
	font-size: 0.8em;
	background-color: #ffffbb;
	padding: 0.5em;
	width: 24em;
	height: 7em;
}

#questionnaire TR TD {
	margin: 0px;
	padding: 0px;
}

INPUT#message {
	width: 17em;
}

INPUT#qbox {
	width: 23em;
}
